<h1>OrderMeals#index</h1>
<p>Find me in app/views/order_meals/index.html.erb</p>

<% @order_meals.each do |meal|%>
    <p><%=meal.menu_id%></p>
    <p><%=meal.burger_id%></p>
    <p><%=meal.cooking_id%></p>
    <p><%=meal.fries_id%></p>
    <p><%=meal.dessert%></p>
    <p><%=meal.burger_id%></p> 
    <p>Prix : <%=meal.price%> €</p>
    <%=link_to "Choisir le Burger", new_meal_path%>
<%end%>