<h1>OrderMeals#new</h1>
<p>Find me in app/views/order_meals/new.html.erb</p>

<div class="m-3">
  <%= form_with model: @order_meal, url: order_order_meals_path(@order), method: :post, local: true do |form| %>
    <div>Formule :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :menu_id, @menus, :id, :name , {:checked => @menus.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Burger :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :recipe_id, @recipes, :id, :name , {:checked => @recipes.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Cuisson :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :cooking_id, @cookings, :id, :name , {:checked => @cookings.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div><em>* Steak Veggie avec charcuterie selon le burger </em></div>
    <div>Boisson :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :drink_id, @drinks, :id, :name  do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div><em>* Nombre limité</em></div>
    <div>Dessert du jour :</div>
    <div class="buttons">
    <%= form.collection_radio_buttons :dessert, [["Non", false],["Oui", true]], :last, :first, {:checked => false} do |b|
       b.radio_button(class: "buttons", :label => b.text) 
       end %> </div>
   <div>Demande particulière * :</div>
   <div class="buttons">
      <%=form.text_field :option%>
   </div>
   <div><em>* Si approbation du chef!</em></div>
   <div>
    <%= form.submit "Valider", :class => "btn btn-primary" %>
    </div>
  <% end %>
   <%=link_to "Retour", order_path(@order)%>
</div>