<h1>OrderMeals#new</h1>
<p>Find me in app/views/order_meals/new.html.erb</p>
<div class="m-3">
  <%= form_with model: @order_meal, url: order_order_meals_path(@order), method: :post do |form| %>
    <div>Formule :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :menu_id, @menus, :id, :name , {:checked => @menus.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Burger :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :recipe_id, @recipes, :id, :name , {:checked => @recipes.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Steak :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :steak_id, @steaks, :id, :name , {:checked => @steaks.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Cuisson :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :cooking_id, @cookings, :id, :name , {:checked => @cookings.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Boisson :</div>
    <div class="buttons">
      <%= form.collection_radio_buttons :drink_id, @drinks, :id, :name , {:checked => @drinks.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
    </div>
    <div>Dessert du jour :</div>
    <div>
      <%= form.select :dessert, [["", false],["Oui", true]] , :class => "form-select"%> </div>
    <%= form.submit "Valider", :class => "btn btn-primary" %>
  <% end %>
</div>
