<h1>Orders#new</h1>
<div class="m-3">
  <%= form_with model: @order, url: orders_path, method: :post, local: true do |form| %>
    <%= form.hidden_field :quantity, :value => @quantity %>
    <%= form.label :schedule_id, "Horaires disponibles :" %>
    <%= form.collection_select :schedule_id, @schedule_available, :id, :slot, {:selected => @schedule_available.first}, :class => "form-select" %>
    <%= form.submit "Choisir cet horaire" , :class => "btn btn-primary"%>
  <% end %>
</div>
