
<div class="container choose-burger">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class=" panel-default">
        <div class="panel-body">
          <div class="text-center">
            <span class="fa-stack fa-3x">
              <i class="fas fa-circle fa-stack-2x" style="color:#20c997;"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="text-center">Réservation confirmée</h2>
            <div>Prénom : <%= @order.user %> </div>
            <div>Horaire : <%=@order.schedule.slot%> </div>
            <div>Quantité : <%=@order.quantity%>  burger.s</div>
            <%if @order.order_meals.present?%>
              <ul>
                <%@order.order_meals.order(:id).each do |meal|%>
                  <li>
                    <%=meal.id%>
                    <%=meal.recap%>
                    <i class="fas fa-regular fa-pencil icon-primary" data-bs-toggle="modal" data-bs-target="#ModalForm<%=meal.id%>"></i>
                    <%=render partial: 'modal_form', 
                              locals: {order: @order, 
                                        url: order_order_meal_path(@order.id, meal),
                                        method: :patch,
                                        order_meal: meal, 
                                        menus: @menus, 
                                        recipes: @recipes, 
                                        cookings: @cookings, 
                                        dessert: @dessert, 
                                        drinks: @drinks}%>
                    <%if !@order.is_full?%>
                      <%=link_to "+1",  edit_order_order_meal_path(@order,meal, :duplicate => true)%>
                    <%end%>
                  </li>
                <%end%>
              </ul>
            <%end%>
            <%if !@order.is_full?%>
            <button type="button" class="mt-3 btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ModalForm">
              Choisir le.s burger.s
            </button>
            <%end%>
              <%# <%=render partial: 'modal_new_form', 
                              locals: {order: @order, 
                                        url: order_order_meals_path(@order),
                                        method: :post,
                                        order_meal: @order_meal, 
                                        menus: @menus, 
                                        recipes: @recipes, 
                                        cookings: @cookings, 
                                        dessert: @dessert, 
                                        drinks: @drinks,
                                        menu_checked: @menus.first.id,
                                        recipe_checked: @recipes.first.id,
                                        cooking_checked: @cookings.first.id,
                                        drinking_checked: @drinks.first.id,
                                        dessert_checked: false
                                          }%>
            <div class="mt-3">
            <% if @order.is_full?%>
            
              <%=link_to 'Valider', orders_path,  :class => "btn btn-primary"%>
            
            <%else%>
            <%=link_to 'Réserver les burgers sans choisir', orders_path%>
            <%end%>
            </div>
            <div class="mt-3">
              <%=link_to 'Annuler la réservation', order_path(@order.id), method: :delete,  :class => "btn btn-outline-danger"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%=render partial: 'modal_form', 
                              locals: {order: @order, 
                                        url: order_order_meals_path(@order),
                                        method: :post,
                                        order_meal: @order_meal, 
                                        menus: @menus, 
                                        recipes: @recipes, 
                                        cookings: @cookings, 
                                        dessert: @dessert, 
                                        drinks: @drinks}%>

<!-- Modal -->
<div class="modal fade" id="ModalFormNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choix du burger</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="m-3">
          <%= form_with model: @order_meal, url: order_order_meals_path(@order), method: :post, local: true do |form| %>
            <div>Formule :</div>
            <div class="buttons">
              <%= form.collection_radio_buttons :menu_id, @menus, :id, :name , {:checked => @menus.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
            </div>
            <div>Recette :</div>
            <div class="buttons">
              <%= form.collection_radio_buttons :recipe_id, @recipes, :id, :name , {:checked => @recipes.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
            </div>
            <div>Cuisson :</div>
            <div class="buttons">
              <%= form.collection_radio_buttons :cooking_id, @cookings, :id, :name , {:checked => @cookings.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
            </div>
            <div><em>* Steak Veggie avec charcuterie selon le burger </em></div>
            <div>Boisson :</div>
            <div class="buttons">
              <%= form.collection_radio_buttons :drink_id, @drinks, :id, :name , {:checked => @drinks.first.id} do |b|
         b.radio_button(class: "buttons", :label => b.text) 
       end %>
            </div>
            <div><em>* Nombre limité</em></div>
            <div>Dessert du jour :</div>
            <div class="buttons">
              <%= form.collection_radio_buttons :dessert, [["Non", false],["Oui", true]], :last, :first, {:checked => false} do |b|
       b.radio_button(class: "buttons", :label => b.text) 
       end %> </div>
            <div>Demande particulière * :</div>
            <div class="buttons">
              <%=form.text_field :option%>
            </div>
            <div><em>* Si approbation du chef!</em></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
          <%= form.submit "Valider", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
