<h1>Meals#index</h1>
<p>Find me in app/views/meals/index.html.erb</p>

<% @meals.each do |meal|%>
    <p><%=meal.menu_id%></p>
    <p><%=meal.burger_id%></p>
    <p><%=meal.cooking_id%></p>
    <p><%=meal.fries_id%></p>
    <p><%=meal.dessert%></p>
    <p><%=meal.burger_id%></p> 
    <p>Prix : <%=meal.price%> €</p>
    <%=link_to "Choisir le Burger", edit_order_meal_path(@order, meal.id)%>
<%end%>